<!--DOCTYPE html-->
<html>
<head>
    <title>Интернет-магазин</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/displaystyle.css">
</head>
<body>
<header>
    <div class="top-bar">
        <button class="category-button">Категории товаров</button>
        <button class="search-button"></button>
        <button class="notification-button"></button>
        <button class="cart-button"></button>
        <button class="profile-button"></button>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Поиск товаров" class="search-input">
        <button class="search-options-button">Параметры поиска</button>
    </div>
</header>
<div class="body-content">
    <div class="recommendations">
        <h2>Рекомендации</h2>
        <div class="recommendation-items">
            <!-- Вывод товаров -->
        </div>
        <button class="view-all-button">Посмотреть все</button>
    </div>
    <div class="region-items">
        <h2>Ваш регион</h2>
        <div class="region-items-grid">
            <!-- Вывод товаров -->
        </div>
    </div>
    <div class="popular-items">
        <h2>Популярные</h2>
        <div class="popular-items-grid">
            <!-- Вывод товаров -->
        </div>
    </div>
    <div class="sale-items">
        <h2>Распродажа</h2>
        <div class="sale-items-grid">
            <!-- Вывод товаров -->
        </div>
    </div>
    <div class="special-offers">
        <h2>Акции</h2>
        <div class="special-offers-grid">
            <!-- Вывод товаров -->
        </div>
    </div>
</div>
<footer>
    <div class="contact-info">
        <!-- Контактная информация -->
    </div>
    <div class="footer-links">
        <a href="#">Условия пользования</a>
        <a href="#">Политика конфидециальности</a>
        <!-- Другие ссылки -->
    </div>
</footer>
</body>
</html>